{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans "Checkout" %}
{% endblock %}
{% block content_block %}
    <h1>
        {% trans "Checkout" %}
    </h1>
    <div class="order-info">
        <h3>
            {% trans "Order" %}
        </h3>
        <ul>
            {% for i in basket %}
                <li>
                    {{ i.quantity }}x {{ i.item.name }}
                    <span>{{ i.total_price }} zł</span>
                </li>
            {% endfor %}
        </ul>
        <p>{% trans "Total" %}: {{ basket.get_total_price }} zł</p>
    </div>

    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p>
            <input type="submit" value="{% trans "Make order" %}">
        </p>
        {% csrf_token %}
    </form>
{% endblock %}

