{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Twoja Manufaktura{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Twoja Manufaktura</a>
    </div>
    <div id="subheader">
        <div id="cart">
            {% with total_items=basket|length %}
                {% if basket|length > 0 %}
                    Basket:
                    <a href="{% url "basket:basket_detail" %}">
                        {{ total_items }} item{{total_items|pluralize:"s"}},
                        {{basket.get_total_price}} zł
                    </a>
                {% else %}
                    Basket is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div>
        {% block content_block %}
        {% endblock %}
    </div>
</body>
</html>