{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% blocktrans with item_name=item.name %}
  {{ item.name }}
{% endblocktrans %}
{% endblock %}

{% block content_block %}
  <div class="product-detail">
    <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static "images/sad_emoji.png" %}{% endif %}">
    <h1>{{ item.name }}</h1>
    <h2><a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></h2>
    <p class="price">${{ item.price }}</p>
    <form action="{% url "basket:basket_add" item.id %}" method="post">
      {{ basket_form }}
      {% csrf_token %}
      <input type="submit" value="{% trans "Add to basket" %}">
    </form>
    {{ item.body|linebreaks }}
    {% if recommendation %}
      <div>
        <h3>{% trans "See recommended items: "%}</h3>
        {% for r in recommendation %}
          <div>
            <a href="{{ r.get_absolute_url }}">
              <img src="{% if r.image %}{{ r.image.url }}{% else %}{% static "images/sad_emoji.png" %}{% endif %}">
            </a>
            <p>
              <a href="{{ r.get_absolute_url }}">{{ r.name }}</a>
            </p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}